{
    "extends": "strongloop",
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "jest": true,
        "node": true
    },
    "rules": {
        "max-len": ["error", {
            "code": 100
        }],
        "no-new": 0,
        "prefer-const": "error",
        // "quotes": ["error", "double"]
    }
}